* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #2a80f0;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header {
    width: 100%;
    height: 600px;
    background: #00f260;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(157, 100%, 47%, 0.521), hsla(210, 67%, 48%, 0.494)), url(../img/huellah-02.png);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(157, 100%, 47%, 0.521), hsla(210, 67%, 48%, 0.493)), url(../img/huellah-02.png); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
    list-style: none;
}

nav img.logo {
    background-color: hsla(0, 0%, 100%, 0.555);
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    display: block;
}

nav img.logo:hover {
    background-color:rgba(242, 242, 242, 0.87) ;
}

nav a{
    background-color: hsla(210, 67%, 48%, 0);
    color:#ffffff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    padding: 10px 15px;
    display: block;
}

nav > li > a > img {
    width: 18px;
    align-items: center;
} 
nav li > a:hover{
    text-decoration: underline;
}

nav > li{
    float: right;
}

nav li ul{
    display: none;
    position: absolute;
    min-width: 110px;
    text-align: left;
    background-color: hsla(249, 94%, 27%, 0.753);
}

nav > li > ul > a:hover{
    background-color: hsla(216, 99%, 49%, 0.699);
}


nav li:hover > ul {
    display: block;
} 

header .textos-header{
    display: flex;
    height: 200px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*Subtema1*/

.antecedentes{
    text-align: center;
}

.antecedentes h1{
    color: #fff;
}

.antecedentes h3 p{
    text-align: justify;
    padding: 0px 0px 30px 15px;
    font-weight: 450;
}

.antecedentes .text-abajo p{
    text-align: justify;
    padding: 30px 0px 30px 15px;
    font-weight: 450;
}

.img{
    width: 40%;
}

.antecedentes .card{
    background: #063d86;
    display: flex;
    width: 100%;
    height: 300px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.antecedentes .card img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.antecedentes .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.antecedentes .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 15px;
}

/*Subtema2*/

.usso{
    background: #f2f2f2;
    text-align: center;
}
.usso p{
    text-align: justify;
    padding: 0px 0px 30px 15px;
    font-weight: 450;
}

.usso h2.sub{
    text-align: left;
    color: #180488;
    padding: 30px 0px 30px 15px;
}
.usso img{
    width: 40%;
}

/*Subtema3*/

main .di-in{
    padding: 30px 0 60px 0;
    text-align: center;
}
.in-di{
    display: flex;
    justify-content: space-evenly;
}

.img-in img{
    width: 60%;
}

.textos-sub{
    width: 100%;
}

.textos-sub h3{
    margin-bottom: 15px;
    text-align: justify;
}

.textos-sub h3 span{
    background: #180488;
    color: #f2f2f2;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 10px;
    height: 10px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.textos-sub p{
    padding: 20px 0px 30px 15px;
    font-weight: 400;
    text-align: justify;
}

/* About us */

main .sobre-nosotros{
    padding: 60px 0 0px 0;
    background: #f2f2f2;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.imagen-about-us img{
    width: 80%;
    padding: 50px 0px 0px 0px;

}

.contenido-textos{
    width: 150%;
}

.contenido-textos h3{
    margin-bottom: 15px;
    text-align: justify;
}

.contenido-textos h3 span{
    background: #180488;
    color: #f2f2f2;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 10px;
    height: 10px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 400;
    text-align: justify;
}

.tip h1{
    color: #f2f2f2;
}
.tip .card{
    background: hsla(199, 92%, 85%, 0.805);
    display: flex;
    width: 100%;
    height: 350px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.tip .card img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 3px solid rgb(0, 102, 166);
    border-radius: 50%;
    display: block;
}

.tip .card > .contenido-texto-card{
    width: 60%;
    color: rgb(0, 0, 0);
}

.tip .card > .contenido-texto-card p{
    font-weight: 400;
    padding-top: 15px;
    text-align: justify;
}


.tip .card1{
    background: #063d86;
    display: flex;
    width: 100%;
    height: 350px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.tip .card1 img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.tip .card1 > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.tip .card1 > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 15px;
}

/*Subtema4*/

.cons{
    background: #fff;
    text-align: center;
}

.cons p{
    text-align: justify;
    padding: 20px 0px 20px 15px;
    font-weight: 500;
}

.cons li{
    text-align: justify;
    padding: 10px 0px 10px 80px;
    font-weight: 400;
}

.cons img{
    width: 80%;
}

/*  Our team */

.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}

.servicio-cont{
    display: flex;
    align-items: flex-start;
    justify-content: space-between
}

.servicio-ind{
    width: 45%;
    text-align: center;
}

.servicio-ind img{
    width: 60%;
    padding: 50px 0px 0px 0px;
}

.servicio-ind h3{
    margin: 10px 0;
    padding: 10px 0px 10px 0px;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
    padding: 0px 0px 20px 0px;
    font-weight: 450;
}

.fin p{
    text-align: right;
    font-weight: 450;
    padding: 50px 0px 0px 0px
}

/* footer */

footer{
    background: #5e2129;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #797474;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: rgb(255, 255, 255);
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #ffffff;
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }

    /* Galeria */

    .imagen-port{
        width: 44%;
    }

    /* Clientes */

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

    /* servicios */

    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servicio-ind img{
        width: 90%;
    }
}

@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    /* ABOUT US */

    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    /* Galeria */

    .imagen-port{
        width: 95%;
    }

    /* Clients */

    .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img{
        width: 90px;
        height: 90px;
    }

    /* Footer */

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
}