* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #2a80f0;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header {
    width: 100%;
    height: 600px;
    background: #00f260;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(157, 100%, 47%, 0.521), hsla(210, 67%, 48%, 0.494)), url(../img/comun.jpg);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(157, 100%, 47%, 0.521), hsla(210, 67%, 48%, 0.493)), url(../img/comun.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
    list-style: none;
}

nav img.logo{
    background-color: hsla(0, 0%, 100%, 0.555);
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    display: block;
}

nav img.logo:hover {
    background-color:rgba(242, 242, 242, 0.87) ;
}

nav a{
    background-color: hsla(210, 67%, 48%, 0);
    color:#ffffff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    padding: 10px 15px;
    display: block;
}

nav > li > a > img {
    width: 18px;
    align-items: center;
} 
nav li > a:hover{
    text-decoration: underline;
}

nav > li{
    float: right;
}

nav li ul{
    display: none;
    position: absolute;
    min-width: 110px;
    text-align: left;
    background-color: hsla(249, 94%, 27%, 0.753);
}

nav > li > ul > a:hover{
    background-color: hsla(216, 99%, 49%, 0.699);
}


nav li:hover > ul {
    display: block;
} 

header .textos-header{
    display: flex;
    height: 200px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* About us */

main .sobre-nosotros{
    padding: 30px 0 60px 0;
}

.sobre-nosotros{
    background: #ffffff;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 300px;
    height: 200px ;
}

.sobre-nosotros .contenido-textos{
    width: 50%;
}

.sobre-nosotros h3{
    padding: 20px 0px 10px 15px;
    font-weight: 450;
    text-align: justify;
}
.contenido-textos li{
    padding: 10px 0px 20px 15px;
    font-weight: 450;
    text-align: justify;
}
.sobre-nosotros li{
    padding: 30px 0px 0px 50px;
    font-weight: 450;
    text-align: justify;
}

/*Subtema*/

.ejemplos{
    background: #f2f2f2;
    text-align: center;
}

.ejemplos li{
    text-align: justify;
    font-weight: 450;
    padding: 20px 0px 0px 15px;
}

/*Subtema2*/

.como-calc{
    background: #fff;
    text-align: center;
}
.como-calc h3 p{
    text-align: justify;
    font-weight: 450;
    padding: 20px 0px 30px 15px;
} 

.como-calc h3 li {
    text-align: justify;
    font-weight: 450;
    padding: 0px 0px 20px 50px;
}

.img-calc{
    width: 80%;
}
/* Subtema3*/

.ejemplo{
    background: #f2f2f2;
    text-align: center;
}

.ejemplo h3{
    text-align: justify;
    font-weight: 450;
    padding: 0px 0px 30px 15px;
}

.ejemplo h3.ej{
    text-align: justify;
    font-weight: 450;
    padding: 30px 0px 10px 15px;
}

.ejem{
    width: 35%;
}

/* Subtema3 */

.disminuir{
    background: #fff;
    text-align: center;
}

.img{
    width: 40%;
}

.disminuir h3{
    text-align: justify;
    font-weight: 450;
    padding: 0px 0px 30px 15px;
}

.disminuir p{
    text-align: justify;
    font-weight: 450;
    padding: 30px 0px 0px 15px;
}

/*  Our team */

.escuela{
    background: #f2f2f2;
}

.esc{
    display: flex;
    justify-content: space-evenly;
}

.img-esc{
    width: 30%;
}

.text-esc{
    width: 60%;
}

.escuela li{
    text-align: justify;
    font-weight: 450;
    padding: 20px 0px 20px 15px;
}

.fin p{
    text-align: right;
    font-weight: 450;
    padding: 50px 0px 0px 0px
}

/* footer */

footer{
    background: #5e2129;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #797474;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: rgb(255, 255, 255);
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #ffffff;
}

